<div class="p-5">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-2">Esqueceu sua senha?</h1>
        <p class="mb-4">Basta inserir seu endereço de e-mail abaixo e enviaremos um link para redefinir sua senha!!</p>
    </div>
    <form class="user">
        <div class="form-group">
            <input type="email" class="form-control form-control-user"
                id="exampleInputEmail" aria-describedby="emailHelp"
                placeholder="Enter Email Address...">
        </div>
        <a href="login.html"
            class="btn btn-primary btn-user btn-block"> Reset
            Password </a>
    </form>
    <hr>
    <div class="text-center">
        <a class="small" href="/meuperfil">Criar uma nova Conta!</a>
    </div>
    <div class="text-center">
        <a class="small" href="/login">Já possui uma Conta? Clique aqui para fazer o Login!</a>
    </div>
</div>
