<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="nav-link" routerLink="/home">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-tachometer-alt"></i>
                    </div>
                    Dashboard                    
                </a>
                <a class="nav-link" href="index.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Meus Pontos                   
                </a>
                <a class="nav-link" href="index.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Gerenciador                 
                </a>
                <a class="nav-link" routerLink="/transacoes-lista"
                    data-toggle="collapse" data-target="#collapseLayouts"
                    aria-expanded="false"  aria-controls="collapseLayouts"
                    ><div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Transações                  
                </a>
                <a class="nav-link" href="index.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-hands-helping"></i></div>
                    Helper                  
                </a>                
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Start Bootstrap
        </div>
    </nav>
</div>
