.progress{
  width: 150px;
  height: 150px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}
.progress:after{
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 12px solid grey;
  position: absolute;
  top: 0;
  left: 0;
}
.progress > span{
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.progress .progress-left{
  left: 0;
}
.progress .progress-bar{
  width: 100%;
  height: 100%;
  background: none;
  border-width: 12px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.progress .progress-left .progress-bar{
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.progress .progress-right{
  right: 0;
}
.progress .progress-right .progress-bar{
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: white;
  font-size: 24px;
  color: black;
  line-height: 135px;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%;
}
.progress.blue .progress-bar{
  border-color: #049dff;
}
.progress.blue .progress-left .progress-bar{
  animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar{
  border-color: #fdba04;
}
.progress.yellow .progress-left .progress-bar{
  animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progress-bar{
  border-color: #F5FFFA;
}
.progress.pink .progress-left .progress-bar{
  animation: loading-4 0.4s linear forwards 1.8s;
}
.progress.green .progress-bar{
  border-color: #1abc9c;
}
.progress.green .progress-left .progress-bar{
  animation: loading-5 1.2s linear forwards 1.8s;
}
@keyframes loading-1{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
  }
}
@keyframes loading-2{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(144deg);
      transform: rotate(144deg);
  }
}
@keyframes loading-3{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
  }
}
@keyframes loading-4{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(36deg);
      transform: rotate(36deg);
  }
}
@keyframes loading-5{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(126deg);
      transform: rotate(126deg);
  }
}
@media only screen and (max-width: 990px){
  .progress{ margin-bottom: 20px; }
}

.card-columns {
    column-count: 4;

    column-count: 5;
  }


.text-value-xl {
  font-size: 1.53125rem;
}
[class^=text-value] {
  font-weight: 600;
}
.cd-example *, .cd-example *::before, .cd-example *::after {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
}
.text-center {
  text-align: center!important;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  margin-bottom: 1.5rem;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid;
  border-radius: .25rem;
  background-color: #fff;
  border-color: #d8dbe0;
  box-shadow: lightgray 5px 5px 5px;
}
.cd-body .cd-content {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  margin: 0 15px;
  font-size: 16px;
  line-height: 28px;
}
.cd-app {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  font-family: barlow,sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #3c4b64;
  background-color: #fff;


}
body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: blue;
  background-color: #F5F5F5;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
.cd-example *, .cd-example *::before, .cd-example *::after {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.cd-example *, .cd-example *::before, .cd-example *::after {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: border-box;
}

.titulo-card {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  text-shadow: black 1px 1px 1px;
  display: flex;
  justify-content: center;
  height: 0.5em;

}

.text-uppercase {
white-space: normal;
word-wrap: break-word;
}

.col {
width: 500px;
word-wrap: break-word;
white-space: normal;

}


.card-header {
background-color: black;
}

.card02 {
  margin-left: 270px;
  margin-right: 200px;
}
.m-10 {
  font-size: 20px;
  color: white;
}
