<!-- Earnings (Monthly) Card Example -->
<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-primary shadow h-100 py-2">
       <div class="card-body">
            <div class="row no-gutters align-items-center">
                 <div class="col mr-2">
                      <div
                           class="text-xs font-weight-bold text-primary text-success mb-1">SEU
                           CPF FOI CONSULTADO 7 VEZES NOS ÚLTIMOS 70 DIAS</div>
                 </div>
                 <div class="col-auto">
                      <i class="fas fa-unlock-alt fa-2x text-gray-300"></i>
                 </div>
            </div>
       </div>
  </div>
</div>


<!-- Pie Chart -->
  <div class="col-">
       <div class="card02 shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                 class="card-header  align-items-center justify-content-between">
                 <h6 class="m-10">Meu Score</h6>
                 <div class="dropdown no-arrow"></div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                 <div class="container">
                      <div class="row-center">
                           <div class="col">
                                <div class="progress blue">
                                     <span class="progress-left"> <span
                                          class="progress-bar"></span>
                                     </span> <span class="progress-right"> <span
                                          class="progress-bar"></span>
                                     </span>
                                     <div class="progress-value">950</div>
                                </div></div></div></div></div></div>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br> <br>
                 <br>
                 <br>

