<h1 class="mt-4">Transacoes</h1>
<ol class="breadcrumb mb-4">
     <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>doc_cli</label>
                <input type="text" class="form-control" 
                    [(ngModel)]="pagamentos_doc_cli" name="pagamentos_doc_cli"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-warning" (click) = "filtrar()">
                <i class= "fa fa-plus"></i>Consultar
            </button>
        </div>
    </div>
    <div class="row">
        <div class="class-col-md-12">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>doc_cli</th>
                        <th>tip_cli</th>
                        <th>id_ftn</th>
                        <th>num_unc</th>
                        <th>dat_pgt</th>
                        <th>dat_vct</th>
                        <th>vlr_pgt</th>
                        <th>cod_mdl</th>
                        <th></th>
                    </tr>
                </thead>            
                <tbody>
                    <tr *ngFor="let transacao of transacoes">                        
                        <td>{{ transacao.id }}</td>
                        <td>{{ transacao.doc_cli }}</td>
                        <td>{{ transacao.tip_cli }}</td>
                        <td>{{ transacao.id_ftn }}</td>
                        <td>{{ transacao.num_unc }}</td>
                        <td>{{ transacao.dat_pgt }}</td>
                        <td>{{ transacao.dat_vct }}</td>
                        <td>{{ transacao.vlr_pgt }}</td>
                        <td>{{ transacao.cod_mdl }}</td>  
                        <td></td>                      
                    </tr>                
                </tbody>
            </table>
        </div>
    </div>
</div>
