<div class="row"
style="display: flex; justify-content: center; margin-top: 70px">
<div class="card text-center">
    <div class="card-header">Destaque</div>
    <div class="card-body">
        <h5 class="card-title">CONHEÇA NOSSO PROGRAMA PONTOS</h5>
        <p class="card-text">Entenda como funciona, como é calculado os
            pontos e os benefícios que o programa trás para você.</p>
        <a href="#" class="btn btn-primary">Visitar</a>
    </div>
</div></div>
<div class="row"
style="display: flex; justify-content: center; margin-top: 70px">
<div class="card text-center">
    <div class="card-header">Destaque</div>
    <div class="card-body">
        <h5 class="card-title">ENTENDA SEU SCORE</h5>
        <p class="card-text">Quer saber como é cálculado, o que
            significa cada numeração e as dicas para manter um bom score.</p>
        <a href="#" class="btn btn-primary">Visitar</a>
    </div>
</div>
<div class="row"
style="display: flex; justify-content: center; margin-top: 70px">
<div class="card text-center">
    <div class="card-header">Destaque</div>
    <div class="card-body">
        <h5 class="card-title">SCORE BAIXO?</h5>
        <p class="card-text">Clique aqui, para negociar suas pendências e receba dicas para aumentar seu score e sair do negativo.</p>
        <a href="#" class="btn btn-primary">Visitar</a>
    </div>
</div>
<div class="row"
style="display: flex; justify-content: center; margin-top: 70px">
<div class="card text-center">
    <div class="card-header">Destaque</div>
    <div class="card-body">
        <h5 class="card-title">SUGESTÕES DE PRÊMIOS E PARCERIAS?</h5>
        <p class="card-text">Indique empresas que gostaria de ver
            como parceira em nosso Programa Pontos e os Prêmios desejados.</p>
        <a href="#" class="btn btn-primary">Visitar</a>
    </div>
</div></div></div>

<br>
<br>
<br><br>
<br>
<br><br>
<br>
<br><br>
<br>
<br><br>
<br>
<br>