<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="nav-link" href="teste/home">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard                    
                </a>
                <a class="nav-link" href="teste/pontos">
                    <div class="sb-nav-link-icon"><i class="fas fa-medal"></i></div>
                    Meus Pontos                   
                </a>
                <a class="nav-link" href="teste/gerenciador">
                    <div class="sb-nav-link-icon"><i class="fas fa-funnel-dollar"></i></div>
                    Gerenciador                 
                </a>
                <a class="nav-link" href="teste/transacoes-lista">
                    <div class="sb-nav-link-icon"><i class="fas fa-money-check-alt"></i></div>
                    Meus Pagamentos                
                </a>
                <a class="nav-link" href="teste/helper">
                    <div class="sb-nav-link-icon"><i class="fas fa-hands-helping"></i></div>
                    Helper                  
                </a>      
                
                       
            </div>
            
        </div>
       
    </nav>
    
</div>

